@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500&family=Montserrat:wght@600&family=Overpass:wght@100;200;300;400&display=swap');
*{
    box-sizing: border-box;
}

/* header */
header > div, .work, .catagory{
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 600;
}
header{

    display: flex; 
    justify-content: space-between;
    margin: 20px; 
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 13px;
}
/* flex container  */
.flex-container{
    display: flex;
    justify-content: center; 
}
.format{
    font-family: Overpass, sans-serif;
    color: #3e3e3e; 
    width: 400px; 
    height: 600px;
    padding: 10px; 
    margin: 50px 20px 50px; 
    font-size: 25px; 
    letter-spacing: 1px;
}

.flex-container > div, header > div{
    padding: 10px;
    margin: 10px 10px 0 0; 
}

.catagory, .work {
    margin: 50px 0 0 0; 
    text-align: center;
}

.main-text{
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    padding: 30px; 
}

#text, #quote {
    font-size: 15px;
}

.about-box > p{
    font-size: 15px;
    border: 1px solid lightgrey;
    margin: 10px 10px 0 0;
    width: 375px; 
    height: 350px;
    padding: 30px;
    line-height: 22px;  
    
}
.work-preview{
    gap: 30px;
    margin: 100px 0px; 
}
.work-preview > img{
    margin: 100px 0; 
}

/* About, Skills */
.about{
    font-family: Overpass, sans-serif;monospace; 
    color: #3e3e3e; 
    font-size: 18px;
    font-weight: 400;
    margin: 100px 0 0 0;
    padding: 20px;
   
}

.skills{
    border: 1px solid lightgrey;
    margin: 10px 10px 0 0;
    width: 375px; 
    height: 350px;
}
.tech-skills{
    display: flex;
    justify-content:center;
    gap: 20px; 
    margin: 30px 0 40px 0;

}

.soft-skills{
    display: flex;
    justify-content: center;
    gap: 20px; 
    margin: 30px 0 0 0; 
}
.tech-skills > img{
    width: 13%;
    height: 13%;
}

.soft-skills > img{
    width: 18%;
    height: 18%;
}
.skill-description{
    margin: 0 0 40px 0;
    display: flex;
    gap: 10px;
    font-size: 13px;
    justify-content: center;
}

h3, .interest >p{
    text-align: center;
   
}
.interest{
    margin: 10px; 
    width: 375px;
    height: 350px;
    border: 1px solid lightgrey;
    font-size: 15px;
    text-align: center;
}

#icon{
    width: 85px; 
    height: 80px; 
    border-radius: 100%;
}
.box > a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: black;
    display: flex; 
    flex-direction: column;
    align-items: center;
    
}
.box{
    border: 1px solid lightgrey;
    padding: 50px 100px;
    margin: 0 0 50px 0; 
    display: flex;
    justify-content: center;
    gap: 30px;

    
}
a:link{
    text-decoration: none;
    color: black;
}
a:visited {
    color: black;
  }

#cat-pic{
    margin: 20px;
    padding: 10px;
    width: 50%;
    height: auto; 
}

/* Contact page  */
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0 0 0;
    padding: 20px;
}
  
  /* Add animation to "page content" Code modified from W3school.com */
  .animate {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  .animate2 {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 2s;
    animation-name: animatebottom;
    animation-duration: 3s
  }  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  /* @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  } */

/* Media query for mobile phone */
@media screen and (max-width: 600px) {

    header{
        font-size: 11px;
    }
   
    .flex-container > div, header > div{
        padding: 0;
        
    }

    .main, .work-preview, .about-box{
       
        display: flex; 
        flex-direction: column;
        align-items: center;
        font-size: 20px; 
        
    }

    .main > img, .main-text{
        margin: 20px;
        width: 90%; 
        height: 90%; 
    }
    .work-preview, .about{
        margin: 75px 0 0 0; 
        gap: 0; 
        font-size: 15px; 
    }
    .work-preview >img{ 
        margin: 20px 0 0 0; 
        width: 60%;
        height: 60%;
    }
    #cat-pic{

        margin: 10px 0 0 0; 
        width: 60%;
        height: auto;
    }
   
    .about > img{
        width: 15%;
        height: 15%;
    }
   
    .box{
        margin: 50px 0 0 0; 
        display: block;
        padding: 70px 120px;
    }
#icon {
    width: 50%;
    height: auto;
   }
    .tech-skills > img{
        width: 13%;
        height: auto;
    }
    
    .soft-skills > img{
        width: 22%;
        height: auto;
    }
    h3{
        font-size: 18px;
    }
    .text{  
        gap: 20px;
    }
    .contact{
        margin: 30px 0 0 0; 
      
    }
    iframe{
        width: 120%
    }

    button{
        color:black;
    }
}

